<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>HomePage</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <h1 class="text-4xl" >Hi this is homepage</h1>
</body>
</html>