<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>HomePage</title>
</head>
<body class="bg-blue-500">
    <%- include("./partials/nav") %>
    
    <%- include("./partials/navscript") %>
</body>

</html>